<h2>3. Choose an end station</h2>
<form action="/trip" method="get">
  <input type="hidden" name="line" value="<%= @line %>">
  <input type="hidden" name="start" value="<%= @start %>">
  <select class="" name="end">
    <% @stations.each do |station| %>
    <option> <%= station %> </option>
    <% end %>
  </select>
  <button type="submit">Submit</button>
</form>
