<h2>1. Choose Boarding Station</h2>
<form action="/start" method="get">

  <select name="stop1">
    <% @lines.each do |line, stops| %>
      <% stops.each do |stop| %>
      <option value="<%= stop %>"> <%= stop %> </option>

      <% end %>
    <% end %>
</select>

  <button type="submit">submit</button>
</form>
