<h2>1. Choose a Line</h2>
<form action="/start" method="get">
  <select name="line">
<% @lines.each do |line| %>
<option value="<%= line %>"> <%= line %> </option>
<% end %>
</select>
  <button type="submit">submit</button>
</form>
