<h3> Trip  </h3>
<form action= "/stations" method="post">
<form class="" action="/trip" method="get">
  <select name="line">
<% @lines.each do |line| %>
<option value="<%= line %>"> <%= line %> </option>
<% end %>
</select>
  <button type="submit">submit</button>
</form>
