<h2> Trip Distance</h2>


    <% @stations.each do |station| %>
    return "Your trip will be <%=@num_stops %> stops!"

  <a href="localhost:4556/">
    <button type="button">Home</button>
  </a>
    <% end %>
