<h1> During your travel you choose <%= params[:line] %> line and start</h1>
<h1>  your trip from <%= params[:start] %> station and end at </h1>
<h1> <%= params[:end] %> station.</h1>
<h1> During this trip you travel total of <%= @num_stops%> station.</h1>
